@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="ToggleDarkMode" class="btn btn-sm btn-outline-primary">
                <i class="fa fa-moon"></i> Alternar Tema
            </button>
            <a href="https://github.com/ollama/ollama" target="_blank">Sobre o Ollama</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ocorreu um erro inesperado.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private async Task ToggleDarkMode()
    {
        await JSRuntime.InvokeVoidAsync("toggleDarkMode");
    }
}